<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} Title {% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20,700,1,-25" />
    {% block head_css %} {% endblock %}
</head>
<body>
    {% block body %} 
        <img src="https://4.bp.blogspot.com/-zy48wKchgCc/UiUJYq23GoI/AAAAAAAAD7M/dCfKU35voAY/s1600/perry_render_by_me_by_urutime-d3le7kv.png" >
    {% endblock %}
</body>
</html>